# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [6]:
age = 44/2
print("Hi, What is your age?"+" "+"I am "+str(age)+" "+"years old and I have just completed "+str(2)+" "+"years of my graduation. I know that this statement is not correct."+str(3>5))

Hi, What is your age? I am 22.0 years old and I have just completed 2 years of my graduation. I know that this statement is not correct.False

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [22]:
print(f"Hi How are you? What are you doing in this cold weather of {str(age/1)} oF?  Do I think it is {63>age} ? ")

Hi How are you? What are you doing in this cold weather of 22.0 oF?  Do I think it is True ?

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [53]:
print("Hi,",end=" "), print("Have you bought new headphone sony xm"+" "+str(5),end=" "),print("in "+str(600/2) +" euros. ",end=" "),print("No The things you are saying are "+str(1>2),end=" ")

Hi, Have you bought new headphone sony xm 5 in 300.0 euros.  No The things you are saying are False

(None, None, None, None)

4) Can a python print function take no value to print???

In [54]:
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [57]:
Introduction = "One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005."

Firm_name =  'The Himalya Associates' 
Year= 2015.
height_of_Ahmad=5.10

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [68]:
Years = 2015
Passout_year=Years-2005
print("The number of years since Ahmad passed out is "+str(Passout_year))

The number of years since Ahmad passed out is 10

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [67]:
Passout_year=2005
Current_year=2015
Years_since_passout=Current_year-Passout_year
print("The number of years since Ahmad passed out is "+str(Years_since_passout))

The number of years since Ahmad passed out is 10

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [69]:
#type your code here 
income_in_pkr = 200
dollar_rate = 250

income_in_dollar = 200*250
print(f"Income of Ahmad in dollars {income_in_dollar}")

Income of Ahmad in dollars 50000

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [70]:
#type your code here 
type(income_in_dollar)

int

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [71]:
weight = 70600
type(weight)
weight_in_kg=int(70600/1000)
print(f"Weight of AHmad in kgs {weight_in_kg}")

Weight of AHmad in kgs 70

11) print the year of birth of Mr. Ahmed.

In [74]:
Age = 30
Birth_year = 2015-Age
print("Birth year of Ahmad \n ", Birth_year)

Birth year of Ahmad
  1985

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [80]:
#type your code here 
print("Yes It can be "+"And the answer is \n",str(100/6))

Yes It can be And the answer is
 16.666666666666668