# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
# type your code here
print("Hello Pakistan", 5, 122.5, True)

Hello Pakistan 5 122.5 True

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [2]:
# type your code here
print("Hello-Pakistan", -5, -122.5, -False)

Hello-Pakistan -5 -122.5 0

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [3]:
# type your code here
string ="New world order"
int_val = 12
float_val = 15.2
bool_val =False
print(string,' ', int_val, ' ', float_val, ' ',bool_val)

New world order   12   15.2   False

4) Can a python print function take no value to print???

In [4]:
# type your answer here
# It takes values to print but without it, it will not print anything.

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [23]:
#type your code here
name= "Ahemd"
age_years= 30
profession= "Lawyer"
education= "Bachelor's degree in Law"
passing_year= 2005
work_at= "Himalaya Associates"
work_city = "Karachi"
working_since= 2015
height= 5.10
weight= 70600
income= 200000
income_currency= "PKR"

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [6]:
#type your code here 
current_year= 2023
years_now= current_year - passing_year
years_now

18

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [13]:
#type your code here 
total_work_years= current_year - working_since
print(f'Working with Himalaya Associates for {total_work_years} years')

Working with Himalaya Associates for 8 years

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [51]:
#type your code here 
dollar_rate=  230.6
income_in_usd =200000/ dollar_rate
print(f'Income in Dollars {income_in_usd}')

Income in Dollars 867.3026886383348

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [52]:
#type your code here 
income_in_usd = int(200000/ dollar_rate)
print(f'Income is {income_in_usd} Dollars')
type(income_in_usd)

Income is 867 Dollars

int

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [32]:
#type your code here 
type(weight)
weight_kg= weight//1000
print(f'Weight in Kg {weight_kg}')

Weight in Kg 70

11) print the year of birth of Mr. Ahmed.

In [34]:
#type your code here
birthdate= current_year - age_years
print(f'Birth Date {birthdate}')

Birth Date 1993

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [38]:
#type your code here 
100 % 6
# No 100 cannot be equally divided by 6. if we we divide we will get 6 in remainder

4