1) A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years.
Ask user for their salary and year of service and print the net bonus amount.

In [4]:
#Type your code here
salary= int(input("What is your salary?"))
service=  int(input("How many years you have served in company?"))
if  service > 5:
    total_amount = salary + (salary * 0.05)
    print(f"Total Salary with bonus is {total_amount}")
else:
    print("Service in company is less than 5 years")

Service in company is less than 5 years


2) Write a program to check whether a person is eligible for voting or not. (accept age from user)

In [7]:
#Type your code here
age= int(input("What is your Age?"))
if age>= 18:
    print("You are eligible to vote")
else:
    print("You are not eligible for vote")

You are eligible to vote


3) Write a program to check whether a number entered by user is even or odd.

In [9]:
#Type your code here
number= int(input("Enter a number"))
if number%2==0:
    print("Number is Even")
else:
    print("Number is Odd")

Number is Odd

4) Write a program to check whether a number is divisible by 7 or not.
Show Answer

In [13]:
#Type your code here
numb= int(input("Enter the Number"))
if numb%7 ==0:
    print(f"Number is divisble by {numb}")
else:
    print(f'Number is not divisible by {numb}')

Number is divisble by 7

5) Write a program to display 
"Hello" if a number entered by user is a multiple of five , otherwise print "Bye".

In [22]:
#Type your code here
numb1= int(input("Enter a Number"))
if  numb1 %5 ==0:
    print("Hello")
else:
    print("Bye")

Hello

6) Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria :
     Unit                                                     Price  
uptp 100 units                                             no charge
Next 200 units                                              Rs 5 per unit
After 200 units                                             Rs 10 per unit
(For example if input unit is 350 than total bill amount is Rs.2000
(For example if input unit is 97 than total bill amount is Rs.0
(For example if input unit is 150 than total bill amount is Rs.250

In [ ]:
#Type your code here
units= int(input("Number of units"))
if units >=100:
    price1 = 0 * units
    print(f"Price of units is Rs.{int(price1)}")
elif units >=101 & units <= 200:
    price2 = 5* units
    print(f"Price of units is Rs.{price2}")
elif units > 200:
    price3 = 10 * units
    print(f"Price of units is Rs.{price3}")

Price of units is Rs.0

7) Write a program to display the last digit of a number.

In [ ]:
#Type your code here

8. Write a program to check whether the last digit of a number( entered by user ) is 
divisible by 3 or not.

In [ ]:
#Type your code here

9. Take values of length and breadth of a rectangle from user and check if it is square or not.

In [ ]:
#Type your code here

10. Take two int values from user and print greatest among them.

In [ ]:
# Type your code here

11. A shop will give discount of 10% if the cost of purchased quantity is more than 1000.
Ask user for quantity
Suppose, one unit will cost 100.
Judge and print total cost for user.

In [ ]:
#Type your code here

12. A school has following rules for grading system:

a. Below 25 - F

b. 25 to 45 - E

c. 45 to 50 - D

d. 50 to 60 - C

e. 60 to 80 - B

f. Above 80 - A

Ask user to enter marks and print the corresponding grade.

In [ ]:
#Type your code here

13. Take input of age of 3 people by user and determine oldest and youngest among them.

In [ ]:
#Type your code here

14. A student will not be allowed to sit in exam if his/her attendence is less than 75%.

Take following input from user

Number of classes held

Number of classes attended.

And print

percentage of class attended

Is student is allowed to sit in exam or not.

In [ ]:
#Type your code here

15. Modify the above question to allow student to sit if he/she has medical cause. 
Ask user if he/she has medical cause or not ( 'Y' or 'N' ) and print accordingly.

In [ ]:
#Type your code here

16. Write a program to check if a year is leap year or not. If a year is divisible by 4 then it is leap year but if the year is century year like 2000, 1900, 2100 then it must be divisible by 400.

In [ ]:
#Type your code here

17. Ask user to enter age, gender ( M or F ), marital status ( Y or N ) and then using following rules print their place of service.

if employee is female, then she will work only in urban areas.

if employee is a male and age is in between 20 to 40 then he may work in anywhere

if employee is male and age is in between 40 t0 60 then he will work in urban areas only.

And any other input of age should print "ERROR"

In [ ]:
#Type your code here